<div *ngIf="isShowCreateNewModal" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <div class="bg-white-general p-6 rounded-lg shadow-lg w-full max-w-xl text-military-neutral-dark">

        <form [formGroup]="formNews" (ngSubmit)="saveNews()" class="space-y-5">
            <div>
                <label class="block text-sm font-medium text-orange mb-1">
                    Título
                </label>
                <input type="text" formControlName="title"
                    class="w-full border rounded-lg p-2.5 text-gray focus:ring-4 focus:ring-blue  focus:outline-none" />
                <app-error-message-form [control]="formNewsInHtml['title']"></app-error-message-form>
            </div>

             <div>
                <label class="block text-sm font-medium text-orange mb-1">
                    Descripción
                </label>
                <textarea rows="4" formControlName="description"
                    class="w-full border rounded-lg p-2.5 text-gray focus:ring-4 focus:ring-blue resize-none"></textarea>
                <app-error-message-form [control]="formNewsInHtml['description']"></app-error-message-form>
            </div>

            <div>
                <label class="block text-sm font-medium text-orange mb-1">
                    Contenido
                </label>
                <textarea rows="4" formControlName="content"
                    class="w-full border rounded-lg p-2.5 text-gray focus:ring-4 focus:ring-blue resize-none"></textarea>
                <app-error-message-form [control]="formNewsInHtml['content']"></app-error-message-form>
            </div>

                <div>
<select formControlName="categoryId"
        class="w-full border rounded-lg p-2.5 text-gray focus:ring-4 focus:ring-blue">
  <option value=null disabled>Selecciona una categoría</option>
  <option *ngFor="let cat of categories" [value]="cat.id">
      {{ cat.name }}
  </option>
</select>
                <app-error-message-form [control]="formNewsInHtml['category']"></app-error-message-form>
            </div>

            <div class="flex items-center gap-2">
                <input type="checkbox" formControlName="isFeatured"
                    class="h-4 w-4 rounded border-navbar focus:ring-blue" />
                <label class="text-sm text-orange">Noticia destacada</label>
            </div>

            <div>
                <label class="block text-sm font-medium text-orange mb-1">
                    Imagen
                </label>
                <input type="file" (change)="onImageSelected($event)" class="block w-full text-sm text-orange cursor-pointer
                 file:mr-4 file:py-2 file:px-4
                 file:rounded-lg file:border-0
                 file:bg-blue-600 file:text-black
                 hover:file:bg-blue" />
                 <app-error-message-form [control]="formNewsInHtml['imageBytes']"></app-error-message-form>
            </div>

            <div class="flex justify-end gap-3 pt-4">
                <button type="button" (click)="closeModal()"
                    class="px-4 py-2 rounded-lg text-orange hover:bg-navbar transition">
                    Cancelar
                </button>

                <button type="submit"
                    class="px-5 py-2 rounded-lg bg-blue-600 text-black hover:bg-blue transition disabled:bg-blue-300"
                    [disabled]="formNews.invalid">
                    Guardar
                </button>
            </div>

        </form>

    </div>
</div>