<app-header [title]="'Siente la adrenalina del paintball'"
    [description]="'¡Disfruta de la sección de noticias de nuestra comunidad!'">
</app-header>


<div class="max-w-6xl mx-auto px-4 py-4 relative grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
    <div *ngFor="let thr of thread; let i = index">º
        <div *ngIf="i % 2 === 0" class="relative group transform hover:rotate-[2deg] hover:scale-105 transition">
            <div [ngClass]="colors[i % 3]" class="clip-triangle text-white p-6 shadow-lg">
                <h3 class="font-bold text-lg">{{thr.title}}</h3>
            </div>
        </div>

        <div *ngIf="!(i % 2 === 0)" class="relative group transform hover:rotate-[-3deg] hover:scale-105 transition">
            <div [ngClass]="colors[i % 3]" class="clip-triangle text-white p-6 shadow-lg">
                <h3 class="font-bold text-lg">{{thr.title}}</h3>
            </div>
        </div>
    </div>
</div>