<app-header [title]="'Siente la adrenalina del paintball'"
  [description]="'¡Disfruta de la sección de noticias de nuestra comunidad!'">
</app-header>

<div class="relative">

  <!-- filtros -->
  <div class="flex justify-center mb-6">
    <div class="flex flex-wrap gap-4 items-center bg-military-neutral dark:bg-military-neutral-dark p-4 rounded">
      <select [(ngModel)]="selectedCategory" (change)="applyFilters()">
        <option value="">Todas las categorías</option>
        <option *ngFor="let cat of categorias" [value]="cat">{{ cat }}</option>
      </select>


      <select [(ngModel)]="selectedDate" (change)="applyFilters()">
        <option value="">Cualquier fecha</option>
        <option value="today">Hoy</option>
        <option value="week">Esta semana</option>
        <option value="month">Este mes</option>
      </select>
    </div>

    <button *ngIf="userDto?.role_id === 1" (click)="openCreateNewModal()"
      class="group flex justify-center gap-2 text-md font-bold mb-4 text-indigo-600 px-4 py-2 rounded-lg transition duration-200 hover:text-green-400">
      <fa-icon class="transition-transform duration-400 group-hover:text-green-400 group-hover:animate-bounce"
        [icon]="faPlus">
      </fa-icon>
      <span class="group-hover:text-green-400 group-hover:animate-pulse">Agregar noticia</span>
    </button>
  </div>

  <div class="max-w-6xl mx-auto px-4 py-4 relative">
    <ng-container *ngFor="let block of blocks; let i = index">
      <app-news-grid-a *ngIf="i % 2 === 0" [items]="block"></app-news-grid-a>
      <app-news-grid-b *ngIf="i % 2 === 1" [items]="block"></app-news-grid-b>
    </ng-container>


    <!--<app-news-grid [news]="limitedNews | newsFilter:selectedCategory:selectedDate"></app-news-grid>!-->

    <!-- botón ver más -->
    <div class="flex justify-center mt-10e">
      <button *ngIf="!finished" (click)="loadMore()" class="btn mt-10 mx-auto block bg-orange">
        Cargar más
      </button>
      <div *ngIf="finished && (!selectedCategory || !selectedCategory)" class="bg-orange">
        <h1>No hay más noticias</h1>
      </div>
      <div *ngIf="finished && (selectedCategory || selectedCategory)" class="bg-orange">
        <p class="opacity-100">
          No existen más noticias que coincidan con los filtros seleccionados.
        </p>
      </div>
    </div>
  </div>

  <app-create-new [isShowCreateNewModal]="isShowCreateNewModal" (close)="closeCreateNewModal()"></app-create-new>