<!-- GRID GLOBAL -->
<div class="space-y-14">

    <section class="space-y-12">

        <!-- FULL WIDTH BANNER --> 

<!-- Noticia destacada -->
    <div class="group col-span-1 sm:col-span-2 lg:col-span-3">
      <div class="relative bg-white shadow-md rounded-2xl overflow-hidden hover:shadow-xl transition h-80">
        <img [src]="'data:image/png;base64,' + gridMain.newsDto.image64" alt="Imagen de noticia destacada"
          class="absolute inset-0 w-full h-full object-cover" />
        <!-- Fondo animado -->
        <div
          class="absolute inset-0 z-2 bg-orange opacity-80 transform translate-y-full group-hover:translate-y-0 transition-transform duration-[2000ms] ease-out">
        </div>
        <div class="absolute top-4 inset-x-0 flex lg:items-start items-center justify-between text-white px-4 gap-2">
        
        <!-- Destacado a la izquierda -->
        <span *ngIf = "gridMain.newsDto.isFeatured" class="bg-red px-6 py-2 rounded-full text-sm font-semibold text-black">
            Destacado
        </span>

        <!-- Categoría centrada -->
        <div class="flex gap-2 items-center justify-center">
            <span class="px-6 py-2 text-xs font-semibold rounded-full"
                [ngClass]="gridMain.newsDto.categoryId | categoryColor">
            {{ gridMain.newsDto.categoryId }}
            </span>
        </div>

        <!-- Autor a la derecha -->
        <div class="flex flex-col items-end text-xs opacity-0 transition-all duration-700 delay-1000 ease-out group-hover:translate-y-0 group-hover:scale-110 group-hover:opacity-100">
            <span>Publicado por: {{ gridMain.newsDto.authorId }}</span>
            <span class="opacity-60">{{ gridMain.publishedAt | militaryAgo }}</span>
        </div>
        </div>


              <!-- Contenido -->
        <div class="absolute inset-0 flex flex-col justify-center items-center z-10 px-4 text-center">
          <h2
            class="text-4xl font-bold text-white transform translate-y-6 opacity-0 transition-all duration-700 delay-300 ease-out group-hover:translate-y-0 group-hover:scale-110 group-hover:opacity-100">
            {{ gridMain.newsDto.title }}
          </h2>
          <p
            class="text-xl font-semibold text-white mt-4 transform translate-y-10 opacity-0 transition-all delay-150 duration-700 ease-out group-hover:translate-y-1 group-hover:opacity-100">
            {{ gridMain.newsDto.description }}
          </p>
        </div>
        <!-- Iconos -->
        <div class="absolute inset-5 flex flex-col opacity-0 group-hover:opacity-100 pointer-events-none transition-opacity delay-300 duration-700 ease-out z-10">
          <div
            class="flex justify-between items-center mt-auto gap-4 transform translate-y-10 group-hover:translate-y-0 pointer-events-auto transition-all duration-700 ease-out">
            <a [routerLink]="['/noticias', gridMain.newsDto.id]"  *ngIf="gridMain.newsDto.categoryId"
              class="text-military-blue-dark hover:text-military-blue dark:text-military-blue dark:hover:text-military-blue-dark font-medium transition-transform transform hover:scale-110 text-sm">
              Leer más →
            </a>

            <div class="flex gap-2" *ngIf="gridMain.newsDto.categoryId && user?.role_id === 1">
              <fa-icon (click)="showModifyModal(gridMain)"
                class="text-white transition-transform transform hover:text-yellow hover:scale-110 hover:animate-bounce cursor-pointer text-lg"
                [icon]="faEdit">
              </fa-icon>
              <fa-icon (click)="confirmDelete(gridMain.newsDto.id)"
                class="text-white transition-transform transform hover:text-red hover:scale-110 hover:animate-bounce cursor-pointer text-lg"
                [icon]="faTrash">
              </fa-icon>
            </div>
            </div>
</div>
</div>
</div>

        <!-- 3 BLOCKS -->
        <div class="grid md:grid-cols-3 gap-8">
            <div *ngFor="let news of gridBlocks"
                class="group relative rounded-2xl overflow-hidden h-[300px] shadow-lg cursor-pointer">
                <img class="absolute inset-0 w-full h-full object-cover opacity-80 transition duration-500 group-hover:opacity-90"
                    [src]="'data:image/png;base64,' + news.newsDto.image64" /> />
   <!-- Fondo animado -->
        <div
          class="absolute inset-0 z-2 bg-orange opacity-80 transform translate-y-full group-hover:translate-y-0 transition-transform duration-[2000ms] ease-out">
        </div>
        <div class="absolute top-4 inset-x-0 flex lg:items-start items-center justify-between text-white px-4 gap-2">
        
        <!-- Destacado a la izquierda -->
        <span *ngIf = "news.newsDto.isFeatured" class="bg-red px-6 py-2 rounded-full text-sm font-semibold text-black">
            Destacado
        </span>

        <!-- Categoría centrada -->
        <div class="flex gap-2 items-center justify-center">
            <span class="px-6 py-2 text-xs font-semibold rounded-full"
                [ngClass]="news.newsDto.categoryId | categoryColor">
            {{ news.newsDto.categoryId }}
            </span>
        </div>

        <!-- Autor a la derecha -->
        <div class="flex flex-col items-end text-xs opacity-0 transition-all duration-700 delay-1000 ease-out group-hover:translate-y-0 group-hover:scale-110 group-hover:opacity-100">
            <span>Publicado por: {{ news.newsDto.authorId }}</span>
            <span class="opacity-60">{{ news.publishedAt | militaryAgo }}</span>
        </div>
        </div>


              <!-- Contenido -->
        <div class="absolute inset-0 flex flex-col justify-center items-center z-10 px-4 text-center">
          <h2
            class="text-4xl font-bold text-white transform translate-y-6 opacity-0 transition-all duration-700 delay-300 ease-out group-hover:translate-y-0 group-hover:scale-110 group-hover:opacity-100">
            {{ news.newsDto.title }}
          </h2>
          <p
            class="text-xl font-semibold text-white mt-4 transform translate-y-10 opacity-0 transition-all delay-150 duration-700 ease-out group-hover:translate-y-1 group-hover:opacity-100">
            {{ news.newsDto.description }}
          </p>
        </div>
        <!-- Iconos -->
        <div class="absolute inset-5 flex flex-col opacity-0 group-hover:opacity-100 pointer-events-none transition-opacity delay-300 duration-700 ease-out z-10">
          <div
            class="flex justify-between items-center mt-auto gap-4 transform translate-y-10 group-hover:translate-y-0 pointer-events-auto transition-all duration-700 ease-out">
            <a [routerLink]="['/noticias', news.newsDto.id]"  *ngIf="news.newsDto.categoryId"
              class="text-military-blue-dark hover:text-military-blue dark:text-military-blue dark:hover:text-military-blue-dark font-medium transition-transform transform hover:scale-110 text-sm">
              Leer más →
            </a>

            <div class="flex gap-2" *ngIf="news.newsDto.categoryId && user?.role_id === 1">
              <fa-icon (click)="showModifyModal(news)"
                class="text-white transition-transform transform hover:text-yellow hover:scale-110 hover:animate-bounce cursor-pointer text-lg"
                [icon]="faEdit">
              </fa-icon>
              <fa-icon (click)="confirmDelete(news.newsDto.id)"
                class="text-white transition-transform transform hover:text-red hover:scale-110 hover:animate-bounce cursor-pointer text-lg"
                [icon]="faTrash">
              </fa-icon>
            </div>
            </div>
            </div>
            </div>
        </div>
    </section>

    <section class="grid md:grid-cols-3 gap-8 items-stretch">

        <!-- VERTICAL FEATURE -->
        <div class="group relative col-span-2 md:col-span-2 h-[600px] rounded-2xl overflow-hidden shadow-xl">
            <img class="absolute inset-0 w-full h-full object-cover transition-transform duration-500 group-hover:scale-105"
                [src]="'data:image/png;base64,' + verticalFeat.newsDto.image64" />
<!-- Fondo animado -->
        <div
          class="absolute inset-0 z-2 bg-orange opacity-80 transform translate-y-full group-hover:translate-y-0 transition-transform duration-[2000ms] ease-out">
        </div>
        <div class="absolute top-4 inset-x-0 flex lg:items-start items-center justify-between text-white px-4 gap-2">
        
        <!-- Destacado a la izquierda -->
        <span *ngIf = "verticalFeat.newsDto.isFeatured" class="bg-red px-6 py-2 rounded-full text-sm font-semibold text-black">
            Destacado
        </span>

        <!-- Categoría centrada -->
        <div class="flex gap-2 items-center justify-center">
            <span class="px-6 py-2 text-xs font-semibold rounded-full"
                [ngClass]="verticalFeat.newsDto.categoryId | categoryColor">
            {{ verticalFeat.newsDto.categoryId }}
            </span>
        </div>

        <!-- Autor a la derecha -->
        <div class="flex flex-col items-end text-xs opacity-0 transition-all duration-700 delay-1000 ease-out group-hover:translate-y-0 group-hover:scale-110 group-hover:opacity-100">
            <span>Publicado por: {{ verticalFeat.newsDto.authorId }}</span>
            <span class="opacity-60">{{ verticalFeat.publishedAt | militaryAgo }}</span>
        </div>
        </div>


              <!-- Contenido -->
        <div class="absolute inset-0 flex flex-col justify-center items-center z-10 px-4 text-center">
          <h2
            class="text-4xl font-bold text-white transform translate-y-6 transition-all opacity-0 transition-all duration-700 delay-300 ease-out group-hover:translate-y-0 group-hover:scale-110 group-hover:opacity-100">
            {{ verticalFeat.newsDto.title }}
          </h2>
          <p
            class="text-xl font-semibold text-white mt-4 transform translate-y-10 opacity-0 transition-all delay-150 duration-700 ease-out group-hover:translate-y-1 group-hover:opacity-100">
            {{ verticalFeat.newsDto.description }}
          </p>
        </div>
        <!-- Iconos -->
        <div class="absolute inset-5 flex flex-col opacity-0 group-hover:opacity-100 pointer-events-none transition-opacity delay-300 duration-700 ease-out z-10">
          <div
            class="flex justify-between items-center mt-auto gap-4 transform translate-y-10 group-hover:translate-y-0 pointer-events-auto transition-all duration-700 ease-out">
            <a [routerLink]="['/noticias', verticalFeat.newsDto.id]" *ngIf="verticalFeat.newsDto.categoryId"
              class="text-military-blue-dark hover:text-military-blue dark:text-military-blue dark:hover:text-military-blue-dark font-medium transition-transform transform hover:scale-110 text-sm">
              Leer más →
            </a>

            <div class="flex gap-2" *ngIf="verticalFeat.newsDto.categoryId && user?.role_id === 1">
              <fa-icon (click)="showModifyModal(verticalFeat)"
                class="text-white transition-transform transform hover:text-yellow hover:scale-110 hover:animate-bounce cursor-pointer text-lg"
                [icon]="faEdit">
              </fa-icon>
              <fa-icon (click)="confirmDelete(verticalFeat.newsDto.id)"
                class="text-white transition-transform transform hover:text-red hover:scale-110 hover:animate-bounce cursor-pointer text-lg"
                [icon]="faTrash">
              </fa-icon>
            </div>
            </div>
        </div>
</div>
        <!-- SIDE SMALL CARDS -->
        <div class="flex flex-col gap-6">
            <div *ngFor="let news of sideCards"
                class="group relative rounded-2xl overflow-hidden h-[180px] shadow-lg cursor-pointer">
                <img class="absolute inset-0 w-full h-full object-cover opacity-80 transition duration-500 group-hover:opacity-90"
                    [src]="'data:image/png;base64,' + news.newsDto.image64" /> />
<!-- Fondo animado -->
        <div
          class="absolute inset-0 z-2 bg-orange opacity-80 transform translate-y-full group-hover:translate-y-0 transition-transform duration-[2000ms] ease-out">
        </div>
        <div class="absolute top-4 inset-x-0 flex lg:items-start items-center justify-between text-white px-4 gap-2">
        
        <!-- Destacado a la izquierda -->
        <span *ngIf = "verticalFeat.newsDto.isFeatured" class="bg-red px-6 py-2 rounded-full text-sm font-semibold text-black">
            Destacado
        </span>

        <!-- Categoría centrada -->
        <div class="flex gap-2 items-center justify-center">
            <span class="px-6 py-2 text-xs font-semibold rounded-full"
                [ngClass]="verticalFeat.newsDto.categoryId | categoryColor">
            {{ verticalFeat.newsDto.categoryId }}
            </span>
        </div>

        <!-- Autor a la derecha -->
        <div class="flex flex-col items-end text-xs opacity-0 transition-all duration-700 delay-1000 ease-out group-hover:translate-y-0 group-hover:scale-110 group-hover:opacity-100">
            <span>Publicado por: {{ verticalFeat.newsDto.authorId }}</span>
            <span class="opacity-60">{{ verticalFeat.publishedAt | militaryAgo }}</span>
        </div>
        </div>


              <!-- Contenido -->
        <div class="absolute inset-0 flex flex-col justify-center items-center z-10 px-4 text-center">
          <h2
            class="text-4xl font-bold text-white transform translate-y-6 opacity-0 transition-all duration-700 delay-300 ease-out group-hover:translate-y-0 group-hover:scale-110 group-hover:opacity-100">
            {{ verticalFeat.newsDto.title }}
          </h2>
          <p
            class="text-xl font-semibold text-white mt-4 transform translate-y-10 opacity-0 transition-all delay-150 duration-700 ease-out group-hover:translate-y-1 group-hover:opacity-100">
            {{ verticalFeat.newsDto.description }}
          </p>
        </div>
        <!-- Iconos -->
        <div class="absolute inset-5 flex flex-col opacity-0 group-hover:opacity-100 pointer-events-none transition-opacity delay-300 duration-700 ease-out z-10">
          <div *ngIf="verticalFeat.newsDto.categoryId"
            class="flex justify-between items-center mt-auto gap-4 transform translate-y-10 group-hover:translate-y-0 pointer-events-auto transition-all duration-700 ease-out">
            <a [routerLink]="['/noticias', verticalFeat.newsDto.id]"
              class="text-military-blue-dark hover:text-military-blue dark:text-military-blue dark:hover:text-military-blue-dark font-medium transition-transform transform hover:scale-110 text-sm">
              Leer más →
            </a>

            <div *ngIf="verticalFeat.newsDto.categoryId && user?.role_id === 1" class="flex gap-2">
              <fa-icon (click)="showModifyModal(verticalFeat)"
                class="text-white transition-transform transform hover:text-yellow hover:scale-110 hover:animate-bounce cursor-pointer text-lg"
                [icon]="faEdit">
              </fa-icon>
              <fa-icon (click)="confirmDelete(verticalFeat.newsDto.id)"
                class="text-white transition-transform transform hover:text-red hover:scale-110 hover:animate-bounce cursor-pointer text-lg"
                [icon]="faTrash">
              </fa-icon>
            </div>
            </div>
        </div>
            </div>
        </div>

    </section>

    <!-- LAYOUT 2 - HORIZONTAL MAGAZINE -->
    <section class="space-y-12">

        <!-- TOP ROW: 3 GRANDES -->
        <div class="grid md:grid-cols-3 gap-8">
            <div *ngFor="let news of gridTop3" class="group relative rounded-2xl overflow-hidden shadow-lg">
                <img class="w-full aspect-video object-cover transition-transform duration-300 group-hover:scale-105"
                    [src]="'data:image/png;base64,' + news.newsDto.image64" />>

<!-- Fondo animado -->
        <div
          class="absolute inset-0 z-2 bg-orange opacity-80 transform translate-y-full group-hover:translate-y-0 transition-transform duration-[2000ms] ease-out">
        </div>
        <div class="absolute top-4 inset-x-0 flex lg:items-start items-center justify-between text-white px-4 gap-2">
        
        <!-- Destacado a la izquierda -->
        <span *ngIf = "news.newsDto.isFeatured" class="bg-red px-6 py-2 rounded-full text-sm font-semibold text-black">
            Destacado
        </span>

        <!-- Categoría centrada -->
        <div class="flex gap-2 items-center justify-center">
            <span class="px-6 py-2 text-xs font-semibold rounded-full"
                [ngClass]="news.newsDto.categoryId | categoryColor">
            {{ news.newsDto.categoryId }}
            </span>
        </div>

        <!-- Autor a la derecha -->
        <div class="flex flex-col items-end text-xs opacity-0 transition-all duration-700 delay-1000 ease-out group-hover:translate-y-0 group-hover:scale-110 group-hover:opacity-100">
            <span>Publicado por: {{ news.newsDto.authorId }}</span>
            <span class="opacity-60">{{ news.publishedAt | militaryAgo }}</span>
        </div>
        </div>


              <!-- Contenido -->
        <div class="absolute inset-0 flex flex-col justify-center items-center z-10 px-4 text-center">
          <h2
            class="text-4xl font-bold text-white transform translate-y-6 opacity-0 transition-all duration-700 delay-300 ease-out group-hover:translate-y-0 group-hover:scale-110 group-hover:opacity-100">
            {{ news.newsDto.title }}
          </h2>
          <p
            class="text-xl font-semibold text-white mt-4 transform translate-y-10 opacity-0 transition-all delay-150 duration-700 ease-out group-hover:translate-y-1 group-hover:opacity-100">
            {{ news.newsDto.description }}
          </p>
        </div>
        <!-- Iconos -->
        <div class="absolute inset-5 flex flex-col opacity-0 group-hover:opacity-100 pointer-events-none transition-opacity delay-300 duration-700 ease-out z-10">
          <div *ngIf="news.newsDto.categoryId"
            class="flex justify-between items-center mt-auto gap-4 transform translate-y-10 group-hover:translate-y-0 pointer-events-auto transition-all duration-700 ease-out">
            <a [routerLink]="['/noticias', news.newsDto.id]"
              class="text-military-blue-dark hover:text-military-blue dark:text-military-blue dark:hover:text-military-blue-dark font-medium transition-transform transform hover:scale-110 text-sm">
              Leer más →
            </a>

            <div *ngIf="news.newsDto.categoryId && user?.role_id === 1" class="flex gap-2">
              <fa-icon (click)="showModifyModal(news)"
                class="text-white transition-transform transform hover:text-yellow hover:scale-110 hover:animate-bounce cursor-pointer text-lg"
                [icon]="faEdit">
              </fa-icon>
              <fa-icon (click)="confirmDelete(news.newsDto.id)"
                class="text-white transition-transform transform hover:text-red hover:scale-110 hover:animate-bounce cursor-pointer text-lg"
                [icon]="faTrash">
              </fa-icon>
            </div>
            </div>
        </div>
            </div>
        </div>

        <!-- BOTTOM ROW: 2 PEQUEÑOS -->
        <div class="grid md:grid-cols-2 gap-8">
            <div *ngFor="let news of gridBottom2"
                class="flex flex-col md:flex-row gap-4 items-center rounded-xl bg-military-blackdark shadow hover:-translate-y-1 transition-transform overflow-hidden">
                <img class="w-full md:w-1/3 aspect-video object-cover" [src]="'data:image/png;base64,' + news.newsDto.image64" />
                <div class="p-4 text-white w-full">
                    <div class="flex gap-2 items-center mb-1">
                        <span class="px-2 py-1 text-xs font-semibold rounded" [ngClass]="news.newsDto.categoryId | categoryColor">
                            {{ news.newsDto.categoryId }}
                        </span>
                        <span class="text-xs opacity-60">{{ news.publishedAt | date:'shortDate' }}</span>
                    </div>
                    <h4 class="font-semibold text-lg line-clamp-2">{{ news.newsDto.title }}</h4>
                    <p class="text-sm opacity-70 line-clamp-2 mt-1">{{ news.newsDto.description }}</p>
                </div>
            </div>
        </div>
    </section>
</div>