<div class="relative w-full h-screen overflow-hidden">
  <video autoplay muted loop playsinline class="absolute inset-0 w-full h-full object-cover">
    <source src="assets/videos/paintballVideo.mp4" type="video/mp4">
  </video>

  <div class="absolute inset-0 bg-black/55 backdrop-blur-[2px]"></div>

  <div
    class="text-military-neutral font-paintball relative z-10 flex flex-col justify-center items-center h-full text-center px-6">

    <h1 class="text-4xl md:text-5xl font-bold tracking-widest uppercase mb-4">
      ¡Bienvenido, Operador!
    </h1>

    <p class="text-sm md:text-lg opacity-90 font-medium leading-relaxed mb-8">
      Has entrado en la comunidad táctica de Paintball más activa de España.<br />
      Intel real. Escenarios reales. Operadores reales.
    </p>

    <button routerLink="/noticias"
      class="bg-orange hover:bg-military-orange-dark transition-colors hover:animate-bounce px-8 py-3 font-semibold rounded-md uppercase tracking-wider shadow-lg">
      Último SITREP
    </button>

  </div>
</div>